<section class="card">
  <div class="card-body">
    <h2>About</h2>
    <p>
      Yu-Gi-Oh! Tracker it's a web app meant to be a tracker for your whole collection of Yu-Gi-Oh! Cards.<br>
      All you need to do it's sign up and create your collection, then you can start adding cards to your collection.<br>
      Made by luqezr.

      <br>
      <br>
      <br>
      <br>
      YugiohTracker uses <a href="https://db.ygoprodeck.com/api-guide/?_ga=2.101450311.794702461.1591894851-1039643358.1591107082">YGOPRODECK's API</a>
    </p>
  </div>
</section>
