{{#if linkcreado}}
<div class="col-md-6 offset-md-3">
    <div class="alert alert-success" role="alert">
    El link se ha creado correctamente
    </div>
</div>
{{/if}}
<div class="col-md-6 offset-md-3">
    <form action="/newlink" method="post">
        <div class="form-group">
            <label for="url">URL (con http://)</label>
            <input class="form-control" type="text" name="url" />
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Guardar">    
        </div>
    </form>
</div>