<h2 id="subtitle"></h2>
    <div class="container-fluid p-1">
      <div class="row">
        
        <div class="card- p-1 col-sm-12" id="setsFilterBar">
          <!-- Barra de busqueda para filtrado -->

        </div>

        
        <div class="card- p-1 col-sm-12" id="advancedMode">

          <!--  Advanced Mode filter Bar  -->

        </div>

        <div class="card- p-1 col-sm-12" id="cardResults">

          <!--  Card Results  -->

        </div>
        <div class="card- p-1 col-sm-12 container-fluid">
          <div class="row" id="miniCardResults">

          </div>
          <!-- Mini Card Results  -->

        </div>

        <div class="card- p-1 col-sm-12" id="setResults">
          <!--  Set Results  -->

        </div>
        
        <!-- <button onclick="getMoreCards(setName)"> More Cards </button> -->

        <button type="button" class="btn btn-secondary btn-dark btn-block d-none" onclick="getMoreMiniCards()"
          id="moreMiniCardsButton">Load more Cards</button>
          <button type="button" class="btn btn-secondary btn-dark btn-block d-none" onclick="getMoreNewCards()"
            id="moreNewCardsButton">Load more New Cards</button>
        <button type="button" class="btn btn-secondary btn-dark btn-block d-none" onclick="getMoreRandomCards()"
          id="moreRandomCardsButton">Load more Random Cards</button>
        <button type="button" class="btn btn-secondary btn-dark btn-block d-none" onclick="getMoreSetCards()"
          id="moreSetCardsButton">Load more Cards</button>
        <button type="button" class="btn btn-secondary btn-dark btn-block d-none" onclick="getMoreBanlistCards()"
          id="moreBanlistCardsButton">Load more Cards from Banlist</button>
        <button type="button" class="btn btn-secondary btn-dark btn-block d-none" onclick="getMoreSearchedCards()"
          id="moreSearchedCardsButton">Load more Cards</button>
        <button type="button" class="btn btn-secondary btn-dark btn-block d-none" onclick="getMoresSetCards()"
          id="moresSetCardsButton">Load more Sets</button>
        <button type="button" class="btn btn-secondary btn-dark btn-block d-none" onclick="getMoresArchetypeCards()"
          id="moreArchetypesCardsButton">Load more Archetypes</button>
        <button type="button" class="btn btn-secondary btn-dark btn-block d-none" onclick="getMoreFilteredCards()"
          id="moreFilteredCardsButton">Load more Cards</button>

        <div class="modal-backdrop fade show d-none" id="modalBackground"></div>
    </div>
            
</div>